{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>
    <script src="{% static 'habits/js/ageindays.js' %}" defer></script>
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
</head>
<!-- Navigation block -->

{% block nav %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'homepage' %}">
            <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            <h1> 📋 Habby ⏳ </h1>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>

                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>
        {% if is_authenticated %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{% url 'register' %}" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="{% url 'login' %}" class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{% url 'profile' %}" class="button is-outlined">
                        <strong>Profile</strong>
                    </a>
                    <a href="{% url 'logout' %}" class="button is-link">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock nav%}
<!-- End Navigation -->
<!-- Messages/Alerts block  -->
{% block messages %}
{% if messages %}
{% for message in messages %}
<article class="message">
    <div class="message-header">
        <p> Messages </p>
        <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        {{message}}
    </div>
</article>
{% endfor %}
{% endif %}
{% endblock messages %}
<!-- End Messages/Alerts -->

<body>
    {% block content %}
    {% endblock content %}
    <!-- Sctn1 block  -->

    {% block sctn1 %}
    {%endblock sctn1%}
    <!-- End Sctn1 block -->

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Habby the habit tracker</strong> by <a href="https://github.com/Pedro-D13/">Pedro Dias</a>.
                The source
                code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> {% lorem 5 w random %}</a>.
            </p>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="{% static 'habits/js/navbar.js' %}" defer></script>
</body>

</html>