{% extends 'habits/base.html' %}

{% block sctn1 %}
<div class="columns">
    <div class="column">
        <div class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered"> Dash Board </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="title">
        {{user}} Goals
    </h1>
    <h2 class="subtitle">
        track the goals you've set
    </h2>
    <div class="columns">
        <div class="column">
            <ol class="1">
                {% for goal in goals %}
                <li> {{goal.goal_title}} </li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <ol class="1">
                {% for goal in goals %}
                <li> {{goal.goal_status}} </li>
                {% empty %}
                <li> ----- </li>
                {% endfor%}
            </ol>
        </div>
    </div>
</div>
</section>
{%endblock sctn1%}