{% extends 'habits/base.html'%}

{%block content %}
{% if user.is_authenticated %}

<div class="section">

    DashBoard

</div>

{% else %}


<!-- Hero Intro -->
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Habby the habit Tracker
            </h1>
            <h2 class="subtitle">
                Track them to change them!
            </h2>
        </div>
    </div>
</section>
<!-- End intro -->

<!-- Content section -->
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> Did you know? </h1>
            <h2 class="subtitle">
                Maxwell Maltz, an American cosmetic surgeon and author of Psycho-Cybernetics, believed it took
                <strong>21 days</strong> to form a new
                habit, this is a common
                misconception as it takes little longer than that around 2 months. <br>Infact <strong> 66 days.
                </strong>
            </h2>
            <p class="is-medium"> the average human life span is <strong> 80 years </strong>, which
                equates to around
                <strong> 29220 days </strong>
                So in the grand Scheme of things you have ...
            </p>

            <div class="container">
                <p class="is-large has-text-centered " id="tochange"></p>
                <!-- Create a web component which asks the age and returns/ a calculation of the persons age -->
                <div class="buttons is-centered">
                    <button class="button is-rounded is-info is-centered" id="ageInputQ" onclick="ageInput()"> click to
                        check</button>
                    <a class="button is-link is-centered" href="{% url 'register' %}"> Join today </a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-toggle is-toggle-rounded is-fullwidth">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a>Reasons to join</a>
                    </li>
                    <li>
                        <a>Motivation</a>
                    </li>
                    <li>
                        <a> Pomodoro Technique & Timer </a>
                    </li>
                </ul>
                <!-- all of these tabs below should be hidden until clicked -->
            </div>
        </nav>
        <div class="box is-hidden">
            <h2> “People think focus means saying yes to the thing you've got to focus on. But that's not what
                it means
                at all. It means
                saying no to the hundred other good ideas that there are.</h2><br>
            <p class=""> You have to pick carefully.
                <cite>
                    Steve jobs
                </cite>
            </p>

        </div>
    </div>
</section>
<!-- End of content -->

{% endif %}
{% endblock content %}