{% extends 'habits/base.html' %}

{% block sctn1 %}
<div class="columns">
    <div class="column">
        <div class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Goals
                    </h1>
                    <h2 class="subtitle">
                        track the goals you've set
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="hero is-success">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Primary title
                    </h1>
                    <h2 class="subtitle">
                        Primary subtitle
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{%endblock sctn1%}