{% extends 'habits/base.html' %}

{% block sctn1 %}

<section class="section">
    <div class="container">
        <h2 class="title"> {{user}}'s to do lists </h2>
    </div>
</section>


<div class="content box">
    <!-- Turn this into a side plannar so you can see a list of your todolists XDD -->
    <div>
        <h1 class="title is-4">


        </h1>
        <h1 class="title is-4">
            Completed:
            {% for list in tdl %}
            {% if list.completed %}
            <a class="has-text-grey" href="">{{list}}</a>
            {% endif %}

            {% empty %}
            <a href="#" class="has-text-grey"> </a>
            {% endfor %}
        </h1>
    </div>

    <div class="dropdown is-active">
        <div class="dropdown-trigger" onclick="dropdowntoggle()">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>To Do Lists:</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content is-hidden" id="dropdown-menu">
                {% for list in tdl %}
                {% if list.completed != True %}
                <a href="#" id="" class="dropdown-item">
                    {{ list }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>









    <div class="columns">
        {% for item in tdl %}
        <div class="column">
            {{item.tdl.title}}
        </div>
        {% endfor %}
    </div>
    <!-- <div class="notification is-light">
        <form class="container" action="/goal/{{goal.id}}/delete" method="POST">
            {% csrf_token %}
            <div class="notification is-success has-icons-left">
                <a class="icon is-left has-text-info" style="text-decoration: none;" onclick="toggle( {{goal.id}} )">
                    <i class="far fa-edit"></i>
                </a>
                {{goal.goal_title | capfirst}} : {{goal.mantra |capfirst}}
                <button class="delete is-danger" type="submit" value=""></button>
            </div>
        </form>
        <form action="/goal/{{goal.id}}/update" class="is-hidden" id="{{goal.id}}" method="post">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="goal_title" required
                        placeholder="edit: {{goal.goal_title | truncatechars:15 }}">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" required name="mantra"
                        placeholder="edit: {{goal.mantra | truncatechars:15 }}">
                </div>
            </div>
            <button class="button is-info" type="submit" value="Update">Update</button>
        </form>
    </div> -->

    <div class="container has-text-centered">
        <div class="notification">
            <h2 class="has-text-grey">First step is to think about a Habit you want to
                start<br>now
                create one below
            </h2>
        </div>
    </div>

    <!-- <form class="level" action="/goal/add/" method="POST">
        {% csrf_token %}
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" id="id_goal_title">Create a Goal</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Goal" name="goal_title" maxlength="25" required
                            id="id_goal_title">
                    </p>
                </div>

                <div class="field-label is-normal">
                    <label class="label" for="id_mantra">Mantra</label>
                </div>
                <div class="field is-normal has-addons">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Mantra" value="" name="mantra" required
                            id="id_mantra">
                    </p>
                    <div class="control">
                        <button class="button is-info" value="Create" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
</div>

{% endblock sctn1 %}