{% extends "habits/base.html" %}


{% block title %}
Password-Reset
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="id_new_password1">New password:</label>
                <div class="control">
                    <input class="input" type="password" name="new_password1" autocomplete="new-password" required
                        id="id_new_password1">
                </div>
            </div>
            <div class="field">
                <label class="label" for="id_new_password2">New password confirmation:</label>
                <div class="control">
                    <input class="input" type="password" name="new_password2" autocomplete="new-password" required
                        id="id_new_password2">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

<!-- <ul>
                    
                </ul>
                </span> -->