{% extends "habits/base.html" %}

{% block title %}
Password-Reset
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <h2 class="title"> Password Reset</h2>
                <label for="id_email">Email:</label>
                <div class="control">
                    <input class="input" type="email" name="email" autocomplete="email" maxlength="254" required
                        id="id_email">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Request Password Reset </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}