{% extends "habits/base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <h1> Register for an account below to begin tracking your habits </h1>
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label for="{{form.username.id_for_label}}" class="label">Username</label>
                <div class="control">
                    <input name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus
                        required id="id_username" class="input is-info" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label for="{{form.email.id_for_label}}" class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="id_email" name="email" class="input is-info" type="email" required
                        placeholder="Email input">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
            </div>
            <div class="field">
                <label for="{{form.password1.id_for_label}}" class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="password1" autocomplete="new-password" required id="id_password1"
                        class="input is-success" type="password" placeholder="First habbit, use password manager 😉"
                        value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <div class="content">
                    <ol class="is-lower-alpha">
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ol>
                </div>
                <!-- include a password check which checks to see if the password entered are the same probably in JS -->
                <!-- <p class="help is-success">Password is valid</p> -->
            </div>
            <div class="field">
                <label for="{{form.password2.id_for_label }}" class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="password2" autocomplete="new-password" required id="id_password1"
                        class="input is-success" type="password" placeholder="" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <!-- <p class="help is-success">Password is valid</p> -->
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <a class="button is-link is-light" href="{% url 'login' %}">Already have an account</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}